.container {
  margin: 2rem 0rem;
  padding: .2rem;
  text-align: left;
}

.container a {
    display: inline;
}

.container h2 {
    margin: 0rem;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: underline 4px solid blue;
    color: black;
}

.container h2:hover,
.container h2:focus,
.container h2:active {
    text-decoration: underline 5px solid rgb(5, 243, 252);
}


.container p {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
}