.container {
  margin: 2rem 0rem;
  padding: .2rem;
  text-align: left;
}

.container a {
    display: inline;
}

.container h2 {
    margin: 0rem;
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: normal;
    text-decoration: underline blue;
    /* safari */
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: blue;
    text-decoration-thickness: 1px;
    color: black;
}

.container h2:hover,
.container h2:focus,
.container h2:active {
    text-decoration: underline blue;
    /* safari */
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color:blue;
    text-decoration-thickness: 4px;
}


.container p {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
}